.container-inputcolors {
display: flex;
flex-wrap: wrap;
width: 12rem;
}
#input-color {
width: 40px; 
margin: 10px;
padding: 0.5px; 
}

.divsColors{
margin: 5px;
box-shadow: 10px 10px 10px black;
width: 38px;
height: 36px;
}
.divsColors:hover{
transition: 0.5s;
opacity: 0.9;
}

.imgsElements {
display: flex;
flex-wrap: wrap;
flex-direction: row;
width: 15rem;
}
.imgsElements img{
margin: 0.5rem;
width: 3em;
height: 3em;
}
.imgsElements img:hover{
transition: 0.1s;
opacity: 0.7;
}
.container-images-vertical {
display: flex;
flex-wrap: wrap;
width: 15rem;


}
.container-images-vertical img{
margin: 0.2rem;
width: 6.5em;
height: 6.5em;
border-radius: 0.8rem;
}
.container-images-vertical img:hover{
transition: 0.1s;
opacity: 0.7;;
}
.container-upload{
display: flex;
flex-direction: column;
}
.LabelandInput {
margin-bottom: 3rem;
}
input[type="file"] {
display: none;
}
.label-file {
padding: 0.6rem;
width: 10rem;
margin: 0px 0px 20px 30px;
background-color: #020659;
color: #fff;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
cursor: pointer;
transition: .5s;
border: 1px solid #020659;
border-radius: 0.2rem;
}
.label-file:hover{
    color: #020659;
    background-color: #fff;
}
