* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
width: 100%;
}

.header {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 1rem;
background-color: black;
color: white;
}
ul {
list-style: none;
display: flex;
}
li {
padding: 0px 10px;
}
.container-body {
    background-color: aqua;
display: flex;
height: 38.5rem;
width: 100%;
margin: 0px;
}
.container-vertical {
display: flex;
width: 18rem;
}

.Coluna-vertical-icons {
background-color: rgb(66, 46, 46);
flex-direction: row; 
height: 100%;
width: 4rem;
}
.Coluna-Vertical-Images {
background-color: rgb(66, 30, 30);
width: 15rem;
height: 100%;
overflow: auto;
}
::-webkit-scrollbar{ 
background-color: #797b81;
width: 5px;
border-radius: 5px;
}
.DoubleArrow {
background-color: rgba(163, 135, 135, 0);
border: 0px;
height: 27px;
font-size: 30px;
cursor: pointer;
position: absolute;
top: 10%;
right: 25rem;
}

.Coluna-horizontal-View {
background-color: #F1F2F6;
width: 100%;
height: 70%;
overflow: auto;
}
.horizontal-View-header {
margin: auto;
width: 95%;
height: 50px;
background-color: white;
}
.Coluna-Horizontal-config {
background-color: rgb(78, 2, 2);
flex-grow:2 ;
margin: auto;
width: 100%;
height: 30%;
}
.min-view-imges{
display: flex;
}
.styleIcons {
width: 3rem;
height: 2.5rem;
margin: 12px 0px 0px 5px ;
padding: 8px ;
cursor: pointer;
}
/* .styleIcons:hover {
opacity: 0.5;
} */
.name-icon {
margin: 0px 0px 5px 0px;
}

.exmple-img{
margin: 3% 10% 0% 28%;
touch-action: none;
user-select: none;
cursor: default;
padding: 1rem;
}
.exmple-img-mini{
width: 100px;
height: 100px;
margin: 15px 0px 15px 30px;
}
.exmple-img-mini-mini {
width: 30px;
height: 30px;
margin: 0.5rem 0.5rem;
}
.footer-config {
background-color: white;
height: 100%;
display: flex;
align-items: baseline;
justify-content: space-evenly;
}
.icons-footer-config{
margin-top: 15px;
margin-left: 160px;
}
.size-percentage {
color: #37373ae0;
padding: 1rem;
}
.buttonsZoom {
height: 1.5rem;
width: 1rem;
font-size: 1.5rem;
border: none;
}
.buttonsZoom:hover{
transition: 0.5s;
opacity: 0.8;
}
